.footer-container{
    width: 100vw;
    height: 400px;
    padding: 2% 10%;
    background: var(--color-photoism-darkgrey);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .footer-sec1{
        width: 40%;
        min-width: 400px;
        // border: 1px solid red;

        .footer-logo{
            // border: 1px solid yellow;
            width: 100%;
            padding-bottom: 30%;
            margin-bottom: 30px;
            background: url(../src/img/photoism-logo.svg) no-repeat left center/contain;
        }

        .icon-container{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            column-gap: 20px;

            li{
                a{
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        } //icon-container
    } //footer-sec1

    .footer-sec2{
        width: 50%;
        // border: 1px solid white;
        text-align: right;

        .footer-info{
            margin-bottom: 32px;

            li{
                font-size: 1.2rem;
                line-height: 42px;
            }
        }

        .footer-copy-container{

            .footer-copy{
                font-size: 1rem;
                letter-spacing: 0.5px;

                a{
                    font-weight: bold;
                    color: inherit;
                }

                .footer-copyright{
                    display: block;
                }
            }
        }
    } //footer-sec2
} //footer-container

@media screen and (max-width: 768px) {
    .footer-container{
        height: 550px;
        padding: 2% 5%;
        flex-wrap: wrap;

        .footer-sec1{
            width: 70%;
            min-width: 0;

            .footer-logo{
                margin-bottom: 15px;
            }
        }

        .footer-sec2{
            width: 100%;
            text-align: left;

            .footer-info{
                margin-bottom: 20px;

                li{
                    line-height: 30px;
                }
            }
        }
    } //footer-container
}

@media screen and (max-width: 430px){
    .footer-container{
        height: 450px;

        .footer-sec1{
            .icon-container{
                li{
                    a{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}