body{
    .main-container{
        .main-bg-container{
            width: 100vw;
            height: 100vh;
            background: url(../src/img/main-bg.jpg) no-repeat center center/cover;
            display: flex;
            align-items: center;

            .main-textbox{
                width: 100vw;
                text-align: center;
                text-shadow: 0 0 20px rgba(0,0,0,0.3);

                .main-text-title{
                    font-size: 2.65rem;
                    color: white;
                    margin-bottom: 20px;
                }

                .main-text-sub{
                    font-size: 1.5rem;
                    color: white;
                    margin-bottom: 40px;
                }

                .icon-container{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;

                    li{
                        a{
                            display: block;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                .main-copy{
                    width: 100vw;
                    font-size: 1rem;
                    letter-spacing: 0.5px;
                    color: white;
                    position: fixed;
                    bottom: 2%;

                    .main-copyright{
                        display: block;
                        color: white;
                    }
                }
            } //main-textbox
        } //main-bg-container
    } //main-container
} //body