// -- main
@media screen and (max-width: 768px) {
body{
    .main-container{
        .main-bg-container{
            .main-textbox{
                .main-text-title{
                    font-size: 1.25rem;
                    margin-bottom: 10px;
                }

                .main-text-sub{
                    font-size: 1rem;
                    margin-bottom: 20px;
                }

                .main-icon-container{
                    column-gap: 10px;

                    li{
                        a{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .main-copy{
                    font-size: 0.625rem;

                    .main-copyright{
                        font-size: 0.625rem;
                    }
                }
            } //main-textbox
        } //main-bg-container
    } //main-container
} //body
}


// -- takeover
@media screen and (max-width: 768px) {
    body{
        .takeover-container{
            width: 100%;

            .takeover-bg{
                width: 100vw;
                min-width: 0;
                height: 150px;
                margin: 60px auto 30px auto;
                border-radius: 0;
            }

            .takeover-content-wrap{
                display: block;

                .takeover-content{
                    width: 90%;
                    margin: 0 auto;
                    // border: 1px solid red;
                }

                .takeover-nav{
                    display: none;
                }
            } //takeover-content-wrap
        } //takeover-container
    } //body
}