// -- Color
:root{
    --color-photoism-darkgrey: #2B292A;
    --color-photoism-pink: #F48E8C;
}

.bg-darkgrey{background-color: var(--color-photoism-darkgrey) !important;}
.bg-pink{background-color: var(--color-photoism-pink) !important;}

.text-pink{color: var(--color-photoism-pink) !important;}



// -- Img
.icon-blog{background: url(../src/icon/icon-blog.svg) no-repeat center center/cover;}
.icon-instagram{background: url(../src/icon/icon-instagram.svg) no-repeat center center/cover;}
.icon-kakao{background: url(../src/icon/icon-kakao.svg) no-repeat center center/cover;}
.icon-photoism{background: url(../src/icon/icon-photoism.svg) no-repeat center center/cover;}



// -- And so on
.nav-include{
    width: 100vw; height: 80px;
    position: fixed;
    top: 0; left: 0;
    background-color: var(--color-photoism-darkgrey);
    z-index: 9998;
}
#topBtn{
    border-radius: 100px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
}
@media screen and (max-width: 768px) {
    html{font-size: 12px;}
    .nav-include{height: 60px;}
}