body{
    .site-container{
        width: 90%;
        margin: 0 auto 120px auto;

        hr{margin-bottom: 60px;}

        .site-title{
            margin: 130px auto 30px auto;
        }

        .site-subtitle{
            font-size: 1.6rem;
            margin-bottom: 20px;

            &::before{
                content: "◎";
                margin: 0 8px 0 20px;
            }
        }

        .site-item-container{
            width: 100%;
            padding: 25px;
            margin-bottom: 40px;
            background-color: lightyellow;
            border-radius: 15px;

            .site-item-box{
                // border: 1px solid red;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .site-item-link{
                    display: block;
                    width: 46%;
                    max-width: 150px;
                    max-height: 150px;
                    // border: 1px solid;

                    .site-item-link-img{
                        width: 80%;
                        padding-top: 80%;
                        margin: 0 auto 10px auto;
                        background-color: white;
                        border-radius: 100%;
                        transition: all 0.25s;

                        &:hover{background-size: 70%;}
                    }

                    .site-item-link-text{
                        width: 100%;
                        text-align: center;
                        color: var(--color-photoism-darkgrey);
                        font-size: 1.1rem;
                    }
                } //site-item-link

                .site-item{
                    width: 370px;
                    height: 370px;
                    // border: 1px solid black;

                    .site-item-img{
                        width: 100%;
                        height: 80%;
                        background-color: lightyellow;
                    }

                    .site-item-text-container{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: center;
                        column-gap: 10px;
                        // border: 1px solid red;

                        .site-item-text{
                            font-size: 1.25rem;
                            padding-left: 20px;
                            text-align: center;
                        }

                        .site-btn{
                            background-color: var(--color-photoism-pink);
                            border-radius: 100%;
                            color: white;

                        }
                    }
                }
            } //site-item-box

            &:last-child{
                margin-bottom: 150px;
            }
        } //site-item-container
    } //site-container
}


//img
.site-item-link-img1{background: url(../src/icon/site-consentForm.png) no-repeat center center/65%;}
.site-item-link-img2{background: url(../src/icon/site-retouchRequest.png) no-repeat center center/65%;}
.site-item-link-img3{background: url(../src/icon/site-IDphoto.png) no-repeat center center/65%;}
.site-item-link-img4{background: url(../src/icon/site-retouchCheck.png) no-repeat center center/65%;}
.site-item-link-img5{background: url(../src/icon/site-Reservation.png) no-repeat center center/65%;}
.site-item-link-img6{background: url(../src/icon/site-drive.svg) no-repeat center center/65%;}
.site-item-link-img7{background: url(../src/icon/site-guide.png) no-repeat center center/65%;}

.site-item-img-4cut1{background: url(../src/img/4CUT/blackFull_W.jpg) no-repeat center center/contain;}
.site-item-img-4cut2{background: url(../src/img/4CUT/blackFull_H.jpg) no-repeat center center/contain;}
.site-item-img-4cut3{background: url(../src/img/4CUT/blackFilm_W.jpg) no-repeat center center/contain;}
.site-item-img-4cut4{background: url(../src/img/4CUT/blackFilm_H.jpg) no-repeat center center/contain;}
.site-item-img-4cut5{background: url(../src/img/4CUT/whiteFull_W.jpg) no-repeat center center/contain;}
.site-item-img-4cut6{background: url(../src/img/4CUT/whiteFull_H.jpg) no-repeat center center/contain;}
.site-item-img-4cut7{background: url(../src/img/4CUT/whiteFilm_W.jpg) no-repeat center center/contain;}
.site-item-img-4cut8{background: url(../src/img/4CUT/whiteFilm_H.jpg) no-repeat center center/contain;}

.site-item-img-9cut{background: url(../src/img/9cut_6x8.jpg) no-repeat center center/contain;}

.site-item-img-pocket1{background: url(../src/img/pocket/pocket_W.jpg) no-repeat center center/contain;}
.site-item-img-pocket2{background: url(../src/img/pocket/pocket_H.jpg) no-repeat center center/contain;}
.site-item-img-pocket3{background: url(../src/img/pocket/pocket_HW.jpg) no-repeat center center/contain;}
.site-item-img-pocket4{background: url(../src/img/pocket/pocket_pet-toism.jpg) no-repeat center center/contain;}

.site-item-img-2cut1{background: url(../src/img/2CUT/black2CUT_W.jpg) no-repeat center center/contain;}
.site-item-img-2cut2{background: url(../src/img/2CUT/black2CUT_H.jpg) no-repeat center center/contain;}
.site-item-img-2cut3{background: url(../src/img/2CUT/black2CUT_HW.jpg) no-repeat center center/contain;}
.site-item-img-2cut4{background: url(../src/img/2CUT/white2CUT_W.jpg) no-repeat center center/contain;}
.site-item-img-2cut5{background: url(../src/img/2CUT/white2CUT_H.jpg) no-repeat center center/contain;}
.site-item-img-2cut6{background: url(../src/img/2CUT/white2CUT_HW.jpg) no-repeat center center/contain;}