body{
    .takeover-container{
        width: 70%;
        margin: 0 auto;
        // border: 1px solid gray;

        .takeover-bg{
            width: 100%;
            min-width: 680px;
            height: 300px;
            margin: 130px auto 50px auto;
            background: url(../src/img/takeover/takeover-bg.png) no-repeat center center/cover;
            border-radius: 30px;
        }

        .takeover-content-wrap{
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;

            .takeover-content{
                width: 78%;

                hr{margin-bottom: 60px;}

                .takeover-item{
                    margin-bottom: 40px;
                    scroll-margin-top: 130px;

                    .takeover-title{
                        font-size: 2rem;
                        margin-bottom: 20px;
                    }

                    .takeover-sub{
                        font-size: 1.6rem;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }

                    .takeover-text{
                        font-size: 1.15rem;
                        margin-left: 20px;
                        margin-bottom: 20px;

                        li{
                            line-height: 1.4;
                            margin-bottom: 8px;
                            position: relative;
                            padding-left: 1.2em;
                            // border: 1px solid red;

                            &::before{
                                content: "● ";
                                font-size: 1em;
                                position: absolute;
                                left: 0;
                            }
                        }

                        .takeover-ex{
                            background-color: rgb(246, 246, 246);
                            border-radius: 10px;
                            padding: 20px 20px 20px 30px;
                            i{font-size: 0.9em;}

                            &::before{
                                padding-left: 10px;
                            }

                            .takeover-ex-title{
                                display: block;
                                margin-bottom: 10px;
                            }

                            ul{
                                li{
                                    line-height: 25px;
                                    margin-bottom: 8px;

                                    &::before{
                                        content: "- ";
                                    }
                                }
                            }

                            .camera-guide-container{
                                // border: 1px solid red;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: center;
                                gap: 5px;
                                
                                .camera-guide-item{
                                    width: 30%;
                                    padding-top: 30%;
                                }

                                .camera-guide-item1{background: url(../src/img/takeover/camera-guide1.jpeg) no-repeat center center/cover;}
                                .camera-guide-item2{background: url(../src/img/takeover/camera-guide2.jpeg) no-repeat center center/cover;}
                                .camera-guide-item3{background: url(../src/img/takeover/camera-guide3.jpeg) no-repeat center center/cover;}
                            }
                        } //takeover-ex

                        .takeover-subtext{
                            font-size: 0.85em;
                            font-weight: 200;
                            color: grey;
                        }
                    } //takeover-text

                    &:last-child{
                        margin-bottom: 150px;
                    }

                } //takeover-item
            } //takeover-content

            .takeover-nav{
                width: 20%;
                background-color: rgb(255, 251, 224);
                border-radius: 10px;
                padding-top: 30px;
                position: relative;

                .takeover-nav-container{
                    // border: 1px solid red;
                    position: sticky;
                    top: 120px;

                    .takeover-nav-textbox{
                        padding-left: 30px;
                        text-align: left;
                        overflow: hidden;

                        li{
                            line-height: 40px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            cursor: pointer;

                            &::before{content: "◎ ";}
                            &:hover{color: rgb(222, 159, 64);}
                        }
                    }
                }
            } //takeover-nav
        } //takeover-content-wrap
    } //takeover-container
}