@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Pretendard, sans-serif;
  color: var(--color-photoism-darkgrey);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.pre-t {
  font-weight: 100;
}

.pre-el {
  font-weight: 200;
}

.pre-l {
  font-weight: 300;
}

.pre-r {
  font-weight: 400;
}

.pre-m {
  font-weight: 500;
}

.pre-sb {
  font-weight: 600;
}

.pre-b {
  font-weight: 700;
}

.pre-eb {
  font-weight: 800;
}

.pre-k {
  font-weight: 900;
}

:root {
  --color-photoism-darkgrey: #2B292A;
  --color-photoism-pink: #F48E8C;
}

.bg-darkgrey {
  background-color: var(--color-photoism-darkgrey) !important;
}

.bg-pink {
  background-color: var(--color-photoism-pink) !important;
}

.text-pink {
  color: var(--color-photoism-pink) !important;
}

.icon-blog {
  background: url(../src/icon/icon-blog.svg) no-repeat center center/cover;
}

.icon-instagram {
  background: url(../src/icon/icon-instagram.svg) no-repeat center center/cover;
}

.icon-kakao {
  background: url(../src/icon/icon-kakao.svg) no-repeat center center/cover;
}

.icon-photoism {
  background: url(../src/icon/icon-photoism.svg) no-repeat center center/cover;
}

.nav-include {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-photoism-darkgrey);
  z-index: 9998;
}

#topBtn {
  border-radius: 100px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .nav-include {
    height: 60px;
  }
}
kbd {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  background-color: var(--color-photoism-darkgrey);
  border-radius: 6px;
  font-family: "Pretendard", "Segoe UI", Roboto, sans-serif;
}

.nav-container {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.nav-container .main-nav {
  margin-top: 30px;
}
.nav-container .top-nav .menu-toggle {
  position: fixed;
  top: 0;
  right: 5%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  line-height: 50px;
  z-index: 99999;
}
.nav-container .top-nav .top-navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.nav-container .top-nav .top-navbar li {
  width: 300px;
}
.nav-container .top-nav .top-navbar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  line-height: 80px;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.nav-container .top-nav .top-navbar li a:hover {
  color: var(--color-photoism-pink);
}

@media screen and (max-width: 768px) {
  .nav-container {
    height: 60px;
  }
  .nav-container .top-nav .top-navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
  }
  .nav-container .top-nav .top-navbar li a {
    line-height: 80px;
    font-size: 1.125rem;
  }
  .nav-container .top-nav .top-navbar.active {
    transform: translateX(0);
  }
  .nav-container .top-nav .menu-toggle {
    display: block;
  }
}
.footer-container {
  width: 100vw;
  height: 400px;
  padding: 2% 10%;
  background: var(--color-photoism-darkgrey);
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.footer-container .footer-sec1 {
  width: 40%;
  min-width: 400px;
}
.footer-container .footer-sec1 .footer-logo {
  width: 100%;
  padding-bottom: 30%;
  margin-bottom: 30px;
  background: url(../src/img/photoism-logo.svg) no-repeat left center/contain;
}
.footer-container .footer-sec1 .icon-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-container .footer-sec1 .icon-container li a {
  display: block;
  width: 40px;
  height: 40px;
}
.footer-container .footer-sec2 {
  width: 50%;
  text-align: right;
}
.footer-container .footer-sec2 .footer-info {
  margin-bottom: 32px;
}
.footer-container .footer-sec2 .footer-info li {
  font-size: 1.2rem;
  line-height: 42px;
}
.footer-container .footer-sec2 .footer-copy-container .footer-copy {
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.footer-container .footer-sec2 .footer-copy-container .footer-copy a {
  font-weight: bold;
  color: inherit;
}
.footer-container .footer-sec2 .footer-copy-container .footer-copy a:hover {
  text-decoration: underline;
}
.footer-container .footer-sec2 .footer-copy-container .footer-copy .footer-copyright {
  display: block;
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: 550px;
    padding: 2% 5%;
    flex-wrap: wrap;
  }
  .footer-container .footer-sec1 {
    width: 70%;
    min-width: 0;
  }
  .footer-container .footer-sec1 .footer-logo {
    margin-bottom: 15px;
  }
  .footer-container .footer-sec2 {
    width: 100%;
    text-align: left;
  }
  .footer-container .footer-sec2 .footer-info {
    margin-bottom: 20px;
  }
  .footer-container .footer-sec2 .footer-info li {
    line-height: 30px;
  }
}
@media screen and (max-width: 430px) {
  .footer-container {
    height: 450px;
  }
  .footer-container .footer-sec1 .icon-container li a {
    width: 25px;
    height: 25px;
  }
}
body .main-container .modal-copy {
  display: block;
  margin-top: 8px;
  font-size: 0.8em;
}
body .main-container .modal-copy a {
  color: inherit;
}
body .main-container .modal-copy a:hover {
  text-decoration: underline;
}
body .main-container .main-bg-container {
  width: 100vw;
  height: 100vh;
  background: url(../src/img/main-bg.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
}
body .main-container .main-bg-container .main-textbox {
  width: 100vw;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
body .main-container .main-bg-container .main-textbox .main-text-title {
  font-size: 2.65rem;
  color: white;
  margin-bottom: 20px;
}
body .main-container .main-bg-container .main-textbox .main-text-sub {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 40px;
}
body .main-container .main-bg-container .main-textbox .icon-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .main-container .main-bg-container .main-textbox .icon-container li a {
  display: block;
  width: 40px;
  height: 40px;
}
body .main-container .main-bg-container .main-textbox .main-copy {
  width: 100vw;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: white;
  position: fixed;
  bottom: 2%;
}
body .main-container .main-bg-container .main-textbox .main-copy .main-copyright {
  display: block;
  color: white;
}

body .takeover-container {
  width: 70%;
  margin: 0 auto;
}
body .takeover-container .takeover-bg {
  width: 100%;
  min-width: 680px;
  height: 300px;
  margin: 130px auto 50px auto;
  background: url(../src/img/takeover/takeover-bg.png) no-repeat center center/cover;
  border-radius: 30px;
}
body .takeover-container .takeover-content-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}
body .takeover-container .takeover-content-wrap .takeover-content {
  width: 78%;
}
body .takeover-container .takeover-content-wrap .takeover-content hr {
  margin-bottom: 60px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item {
  margin-bottom: 40px;
  scroll-margin-top: 130px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-title {
  font-size: 2rem;
  margin-bottom: 30px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-sub {
  font-size: 1.6rem;
  margin-left: 10px;
  margin-bottom: 5px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text {
  font-size: 1.15rem;
  margin-left: 20px;
  margin-bottom: 30px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text li {
  line-height: 1.4;
  margin-bottom: 8px;
  position: relative;
  padding-left: 1.2em;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text li::before {
  content: "● ";
  font-size: 1em;
  position: absolute;
  left: 0;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text li kbd:first-child {
  margin-left: 18px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  padding: 20px 20px 20px 30px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex i {
  font-size: 0.9em;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex::before {
  padding-left: 10px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex .takeover-ex-title {
  display: block;
  margin-bottom: 10px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex ul li {
  line-height: 25px;
  margin-bottom: 8px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex ul li::before {
  content: "- ";
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex .camera-guide-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex .camera-guide-container .camera-guide-item {
  width: 30%;
  padding-top: 30%;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex .camera-guide-container .camera-guide-item1 {
  background: url(../src/img/takeover/camera-guide1.jpeg) no-repeat center center/cover;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex .camera-guide-container .camera-guide-item2 {
  background: url(../src/img/takeover/camera-guide2.jpeg) no-repeat center center/cover;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-ex .camera-guide-container .camera-guide-item3 {
  background: url(../src/img/takeover/camera-guide3.jpeg) no-repeat center center/cover;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text .takeover-subtext {
  font-size: 0.85em;
  font-weight: 200;
  color: grey;
}
body .takeover-container .takeover-content-wrap .takeover-content .takeover-item:last-child {
  margin-bottom: 150px;
}
body .takeover-container .takeover-content-wrap .takeover-nav {
  width: 20%;
  background-color: rgb(255, 251, 224);
  border-radius: 10px;
  padding-top: 30px;
  position: relative;
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container {
  position: sticky;
  top: 120px;
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox {
  padding: 0 10% 0 10%;
  text-align: left;
  overflow: hidden;
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox li {
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox li::before {
  content: "◎ ";
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox li:hover {
  color: rgb(222, 159, 64);
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox p {
  font-size: 0.9em;
  margin-bottom: 8px;
  margin-left: 10px;
  font-weight: 400;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox p::before {
  content: "• ";
}
body .takeover-container .takeover-content-wrap .takeover-nav .takeover-nav-container .takeover-nav-textbox p:last-child {
  margin-bottom: 15px;
}

body .faq-container {
  width: 90%;
  margin: 0 auto 120px auto;
}
body .faq-container .faq-title {
  margin: 130px auto 30px auto;
}
body .faq-container .faq-title .faq-sub {
  display: block;
  margin-top: 10px;
  font-size: 0.4em;
  color: gray;
}
body .faq-container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #fff !important;
  color: #000 !important; /* 글자색도 검정 유지 */
  box-shadow: none !important; /* 클릭 시 그림자 제거 */
}
body .faq-container .accordion .accordion-item .accordion-collapse .accordion-body {
  background-color: rgb(245, 245, 245);
  padding-left: 20px;
}
body .faq-container .accordion .accordion-item .accordion-collapse .accordion-body::before {
  content: "A. ";
  position: absolute;
  font-weight: bold;
}
body .faq-container .accordion .accordion-item .accordion-collapse .accordion-body p {
  padding-left: 20px;
}

body .site-container {
  width: 90%;
  margin: 0 auto 120px auto;
}
body .site-container hr {
  margin-bottom: 60px;
}
body .site-container .site-title {
  margin: 130px auto 30px auto;
}
body .site-container .site-subtitle {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
body .site-container .site-subtitle::before {
  content: "◎";
  margin: 0 8px 0 20px;
}
body .site-container .site-item-container {
  width: 100%;
  padding: 25px;
  margin-bottom: 40px;
  background-color: lightyellow;
  border-radius: 15px;
}
body .site-container .site-item-container .site-item-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .site-container .site-item-container .site-item-box .site-item-link {
  display: block;
  width: 46%;
  max-width: 150px;
  max-height: 150px;
}
body .site-container .site-item-container .site-item-box .site-item-link .site-item-link-img {
  width: 80%;
  padding-top: 80%;
  margin: 0 auto 10px auto;
  background-color: white;
  border-radius: 100%;
  transition: all 0.25s;
}
body .site-container .site-item-container .site-item-box .site-item-link .site-item-link-img:hover {
  background-size: 70%;
}
body .site-container .site-item-container .site-item-box .site-item-link .site-item-link-text {
  width: 100%;
  text-align: center;
  color: var(--color-photoism-darkgrey);
  font-size: 1.1rem;
}
body .site-container .site-item-container .site-item-box .site-item {
  width: 370px;
  height: 370px;
}
body .site-container .site-item-container .site-item-box .site-item .site-item-img {
  width: 100%;
  height: 80%;
  background-color: lightyellow;
}
body .site-container .site-item-container .site-item-box .site-item .site-item-text-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .site-container .site-item-container .site-item-box .site-item .site-item-text-container .site-item-text {
  font-size: 1.25rem;
  padding-left: 20px;
  text-align: center;
}
body .site-container .site-item-container .site-item-box .site-item .site-item-text-container .site-btn {
  background-color: var(--color-photoism-pink);
  border-radius: 100%;
  color: white;
}
body .site-container .site-item-container:last-child {
  margin-bottom: 150px;
}

.site-item-link-img1 {
  background: url(../src/icon/site-consentForm.png) no-repeat center center/65%;
}

.site-item-link-img2 {
  background: url(../src/icon/site-retouchRequest.png) no-repeat center center/65%;
}

.site-item-link-img3 {
  background: url(../src/icon/site-IDphoto.png) no-repeat center center/65%;
}

.site-item-link-img4 {
  background: url(../src/icon/site-retouchCheck.png) no-repeat center center/65%;
}

.site-item-link-img5 {
  background: url(../src/icon/site-Reservation.png) no-repeat center center/65%;
}

.site-item-link-img6 {
  background: url(../src/icon/site-drive.svg) no-repeat center center/65%;
}

.site-item-link-img7 {
  background: url(../src/icon/site-guide.png) no-repeat center center/65%;
}

.site-item-img1 {
  background: url(../src/img/4CUT/blackFull_W.jpg) no-repeat center center/contain;
}

.site-item-img2 {
  background: url(../src/img/4CUT/blackFull_H.jpg) no-repeat center center/contain;
}

.site-item-img3 {
  background: url(../src/img/4CUT/blackFilm_W.jpg) no-repeat center center/contain;
}

.site-item-img4 {
  background: url(../src/img/4CUT/blackFilm_H.jpg) no-repeat center center/contain;
}

.site-item-img5 {
  background: url(../src/img/4CUT/whiteFull_W.jpg) no-repeat center center/contain;
}

.site-item-img6 {
  background: url(../src/img/4CUT/whiteFull_H.jpg) no-repeat center center/contain;
}

.site-item-img7 {
  background: url(../src/img/4CUT/whiteFilm_W.jpg) no-repeat center center/contain;
}

.site-item-img8 {
  background: url(../src/img/4CUT/whiteFilm_H.jpg) no-repeat center center/contain;
}

@media screen and (max-width: 768px) {
  body .main-container .main-bg-container .main-textbox .main-text-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  body .main-container .main-bg-container .main-textbox .main-text-sub {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  body .main-container .main-bg-container .main-textbox .main-icon-container {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body .main-container .main-bg-container .main-textbox .main-icon-container li a {
    width: 20px;
    height: 20px;
  }
  body .main-container .main-bg-container .main-textbox .main-copy {
    font-size: 0.625rem;
  }
  body .main-container .main-bg-container .main-textbox .main-copy .main-copyright {
    font-size: 0.625rem;
  }
}
@media screen and (max-width: 768px) {
  body .takeover-container {
    width: 100%;
  }
  body .takeover-container .takeover-bg {
    width: 100vw;
    min-width: 0;
    height: 150px;
    margin: 60px auto 30px auto;
    border-radius: 0;
  }
  body .takeover-container .takeover-content-wrap {
    display: block;
  }
  body .takeover-container .takeover-content-wrap .takeover-content {
    width: 90%;
    margin: 0 auto;
  }
  body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-sub {
    margin-left: 0;
  }
  body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text {
    margin-left: 0;
  }
  body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-text li {
    line-height: 1.2;
  }
  body .takeover-container .takeover-content-wrap .takeover-content .takeover-item .takeover-ex .camera-guide-container .camera-guide-item {
    width: 100% !important;
    padding-top: 100% !important;
  }
  body .takeover-container .takeover-content-wrap .takeover-nav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */