@import "variables";
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

html{
  font-size: 16px;
  line-height: 1.5;
  font-family: Pretendard, sans-serif;
  color: var(--color-brand-dark);
}

hr{margin-bottom: 60px;}

kbd {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  background-color: var(--color-brand-dark);
  border-radius: 6px;
  font-family: "Pretendard", "Segoe UI", Roboto, sans-serif;
}

.font-thin{font-weight: 100;}
.font-light{font-weight: 200;}
.font-regular{font-weight: 400;}
.font-medium{font-weight: 500;}
.font-bold{font-weight: 700;}