.header{
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header__toggle{
  position: fixed;
  top: 0;
  right: 5%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  line-height: 50px;
  z-index: 99999;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  box-shadow: none;
}


.header__menu{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.header__menu-item{
  width: 300px;
}

.header__menu-link{
  display: block;
  // border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  line-height: 80px;
  text-shadow: 0 0 50px rgba(0,0,0,0.1);

  &:hover{
    color: var(--color-brand-primary);
  }
}


@media screen and (max-width: 768px) {
  .header{
    height: 60px;
  }

  .header__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.8);
    // padding-top: 60px;
    transform: translateX(100%);
  }

  .header__menu-link{
    line-height: 80px;
    font-size: 1.125rem;
  }

  .header--open {
    transform: translateX(0);
  }

  .header__toggle {
    display: block;
  }
}