.login{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login__logo{
    width: 320px;
}

.login__content{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 8px;
}

.password{
    width: 70%;
    max-width: 540px;
    min-height: 36px;
    padding: 4px;
}

@media screen and (max-width: 768px){
    .login__logo{
        width: 280px;
    }
}