.site{
    width: 90%;
    margin: 0 auto 120px auto;
}

.site__title{
    margin: 130px auto 30px auto;
}

.site-section{
    width: 100%;
    padding: 25px;
    margin-bottom: 40px;
    background-color: var(--color-bg-highlight);
    border-radius: 15px;

    &:last-child{
        margin-bottom: 150px;
    }
}

.site__subtitle{
    font-size: 1.6rem;
    margin-bottom: 24px;

    &::before{
        content: "◎";
        margin: 0 8px 0 20px;
    }
}

.site-section__grid{
    // border: 1px solid red;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.site-link-item{
    display: block;
    width: 46%;
    max-width: 150px;
    min-height: 150px;
}

.site-link-item__icon-box{
    max-width: 100%;
    min-height: 150px;
    margin: 0 auto 10px auto;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-link-item__icon{
    width: 65%;
    object-fit: contain;
    transition: all 0.25s;

    &:hover{
        width: 68%;
    }
}

.site-link-item__title{
    display: block;
    text-align: center;
    color: var(--color-brand-dark);
    font-size: 1.1rem;
}

.site-item{
    width: 370px;
    margin-bottom: 16px;
}

.site-item__img{
    max-width: 100%;
    max-height: 370px;
    object-fit: cover;
    margin: 0 auto 16px auto;
}

.site-item__content{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.site-item__title{
    font-size: 1.25rem;
    padding-left: 20px;
    text-align: center;
}

.site-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--color-brand-primary);

    /* Bootstrap btn 영향 차단 */
    border: none;
    padding: 0;

    &:hover,
    &:focus{
        color: var(--color-brand-dark);
    }
}

.site-btn__icon {
    display: block;
    pointer-events: none;
}

.icon--download{
    // width: 100%;
    fill: currentColor;
}